{% extends 'base.html.twig' %}

{% block title %}Hello TrojanController!{% endblock %}

{% block body %}

<h1 class="display-5 text-center my-5">TROJAN RECORDS</h1>


<div class="container-fluid">
    <div class="row">

    {% for musique in musiques %}

        <div class="card col-4 m-3" style="width: 18rem;">
            <img src={{ asset('img/' ~ musique.img)}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ musique.nom }}</h5>
                <p class="card-text">{{ musique.album }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">n° {{ musique.reference }}</li>
                <li class="list-group-item">{{ musique.prix }} €</li>
                <li class="list-group-item">{{ musique.label}}</li>
            </ul>
            <div class="card-body">
                <a type="button" class="btn btn-warning" href="{{ path('app_cart_add', {id:musiques.id}) }}">ajouter</button>
                
            </div>
        </div>
        
    {% endfor %}

    </div>


</div>


{% endblock %}
